.messages {
  height: 300px;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
}

.chat-message-form {
  width: 100%;

  .form-inline {
    &.form-control {
      width: 100%;
    }
  }
}
