html,
body {
  height: 100%;
}

.flash {
  min-height: 64px;
}

.messages {
  height: 200px;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
}

.meta {
  font-weight: bold;

  span {
    font-style: italic;
  }
}

.chat-message-form {
  margin: 10px;
  align-items: center;
}
