html,
body {
  height: 100%;
}

.flash {
  min-height: 64px;
}

.messages {
  height: 200px;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
}

.chat-message-form {
  margin: 10px;
  align-items: center;
}
